* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white;
}
